# Datasets Portal da Transparência da Mobilidade Urbana de Natal/RN

## Dataset Bilhetagem Eletrônica Analítico 2018

http://dados.natal.br/dataset/bilhetagem-eletronica

Dados BE 2018 - Analitico
http://dados.natal.br/dataset/4fad551d-4d3b-4597-b8d3-7e887e22332e/resource/ec5b95a3-7b93-4346-98f6-1bd013faa651/download/dados-be-2018-analitico.csv

In [2]:
import pandas as pd

## Download do arquivo csv
Vamos baixar o arquivo de 2018 com o comando wget
comando abaixo esta comentando em função do Windows 10 não possuir o comando.

In [5]:
#wget -c http://dados.natal.br/dataset/4fad551d-4d3b-4597-b8d3-7e887e22332e/resource/ec5b95a3-7b93-4346-98f6-1bd013faa651/download/dados-be-2018-analitico.csv

Verificar o arquivo baixado com o comando
*ls -lah dados-be**

In [ ]:
#ls -lah dados-be*

## Carregar o arquivo CSV

In [3]:
df = pd.read_csv("data\dados-be-2018-analitico.csv", encoding='iso-8859-1', sep=';', thousands=r'.')

Checar se o arquivo foi carregado exibindo os primeiros registros

In [5]:
df.head()

,Mês,Empresa,Linha,Estudante_Cartao,Estudante_BT,Vale_Transporte,Integracao_Plena,Integracao_Complementar,Gratuito_Cartao,Gratuito_BT,Inteira_Cartao,Inteira_Especie,Tarifa_Social,Qtd_Viagens
0,1,CONCEIÇÃO,21,13493,9506,35944,8671,0,17138,7397,6542,43727,3965,3684
1,1,CONCEIÇÃO,22,4644,3371,13088,3230,0,8109,3157,2529,15363,0,1737
2,1,CONCEIÇÃO,30,8519,5614,20580,5346,0,7265,3191,4415,21507,1537,2500
3,1,CONCEIÇÃO,31,9631,6020,23460,7587,0,7065,2922,5491,22212,140,2478
4,1,CONCEIÇÃO,41,6556,4038,20388,7924,0,5704,2791,3883,13870,0,2296

Exibir 10 registros aleatórios

In [7]:
df.sample(10)

,Mês,Empresa,Linha,Estudante_Cartao,Estudante_BT,Vale_Transporte,Integracao_Plena,Integracao_Complementar,Gratuito_Cartao,Gratuito_BT,Inteira_Cartao,Inteira_Especie,Tarifa_Social,Qtd_Viagens
137,2,GUANABARA - URB,72,11366,6718,28085,7090,122,6249,3002,5430,30652,670,1954
627,7,GUANABARA - URB,7502,1475,413,1663,367,0,611,277,483,1877,0,158
183,2,SANTA MARIA - URB,66,7483,5794,13471,1938,0,3053,1758,2968,17301,1121,1933
1128,12,SANTA MARIA - URB,48,12260,4343,14587,5088,0,7168,5113,3111,22690,747,2165
262,3,REUNIDAS,6443,9957,4735,18841,4440,9,6298,2603,4431,17776,314,1206
69,1,REUNIDAS,35,14300,8069,35898,11112,813,13376,6317,9356,30393,2981,2757
608,7,GUANABARA - URB,76,3388,1305,6959,1566,61,3567,922,1425,7836,0,576
866,10,CONCEIÇÃO,587,1977,3,610,202,0,1231,230,155,1858,285,1492
830,9,REUNIDAS,1778,4669,954,7679,1490,40,2887,1768,1505,8280,730,759
189,2,VIA SUL - URB,50,27193,17532,59793,17904,136,14454,6269,11507,51027,1620,4241

## Visualizar o descritivo da estrtura de dados com o número de linhas e colunas

In [8]:
df.shape

(1141, 14)

## Visualizar informações básicas do dataset como colunas, tamanho, tipo de valores, etc..

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1141 entries, 0 to 1140
Data columns (total 14 columns):
Mês                        1141 non-null int64
Empresa                    1141 non-null object
Linha                      1141 non-null int64
Estudante_Cartao           1141 non-null int64
Estudante_BT               1141 non-null int64
Vale_Transporte            1141 non-null int64
Integracao_Plena           1141 non-null int64
Integracao_Complementar    1141 non-null int64
Gratuito_Cartao            1141 non-null int64
Gratuito_BT                1141 non-null int64
Inteira_Cartao             1141 non-null int64
Inteira_Especie            1141 non-null int64
Tarifa_Social              1141 non-null int64
Qtd_Viagens                1141 non-null int64
dtypes: int64(13), object(1)
memory usage: 124.9+ KB

## Exibir informações estatísticas das colunas numéricas

In [10]:
df.describe()

,Mês,Linha,Estudante_Cartao,Estudante_BT,Vale_Transporte,Integracao_Plena,Integracao_Complementar,Gratuito_Cartao,Gratuito_BT,Inteira_Cartao,Inteira_Especie,Tarifa_Social,Qtd_Viagens
count,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000
mean,6.501315,1111.489045,13357.290096,5142.852761,21148.921998,6045.431201,73.226994,7238.357581,3461.227870,4510.539001,21086.677476,1045.451358,1907.993865
std,3.464006,2241.727880,12271.943573,5299.710310,19264.622770,6105.457782,163.958350,6295.643277,3010.474741,3765.546539,17995.550555,1808.953070,1284.056937
min,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,39.000000,4138.000000,1334.000000,6673.000000,1441.000000,0.000000,2908.000000,987.000000,1438.000000,7176.000000,0.000000,760.000000
50%,7.000000,75.000000,9631.000000,3623.000000,15713.000000,4093.000000,0.000000,5884.000000,2929.000000,3588.000000,17289.000000,276.000000,1772.000000
75%,10.000000,599.000000,19605.000000,7279.000000,31430.000000,8901.000000,65.000000,10178.000000,5036.000000,6876.000000,31185.000000,1345.000000,2817.000000
max,12.000000,9018.000000,64442.000000,38952.000000,114307.000000,35933.000000,1353.000000,37702.000000,17586.000000,18331.000000,97977.000000,17298.000000,5407.000000

## Exibir a quantidade de empresas únicas

In [19]:
empresas = df['Empresa'].unique()
len(empresas)

6

## Quantidade de viagens por mês

## Tipos de passagens por mês

## Quantidade de passagens por empresa

## Quantidade de viagens por linha